<template>
<div class="popup-wrapp">
    <div class="block">
        <div class="text">
            Вы действительно хотите выйти?
        </div>
        <div class="btns d-flex justify-content-end">
            <p class="cancel" @click="$emit('cancel', !flag)">
                ОТМЕНА
            </p>
            <p class="exit">
                ВЫЙТИ
            </p>
        </div>
    </div>

</div>
</template>

<script>
export default {
    name: 'ChatBlock',
    props: {
        flag: Boolean
    },

}
</script>

<style scoped>
.block {
    background: #FFFFFF;
    padding: 30px 24px 24px 24px;
}

.text {

    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 29px;
}
.btns p{
font-family: 'Segoe UI',sans-serif;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 21px;
cursor: pointer;
}
.cancel{
margin-right: 24px;

color: #169FE6;
}
.exit{
color: #E26F65;
}
</style>
